body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('cyber-LOCK/background-4876988_1280.webp');
    background-size: cover;
    background-position: center;
}

.box {
    border: 1px solid rgb(248, 245, 245);
    padding: 20px;
    width: 250px;
    border-radius: 25px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
}

.login-form h2 {
    font-size: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    position: relative;
}

.input-group input {
    border: 1px solid black;
    padding: 8px;
    border-radius: 5px;
    width: 93%;
}

.input-group i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: black;
}

.login-form button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: green;
    color: white;
    font-size: 16px;
}

.login-form button:hover {
    background-color: blue;
}

.login-form a {
    text-decoration: none;
    color: white;
}

.login-form p {
    margin-top: 10px;
}
